.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.topContainer {
  //
  height: auto;
  //display: flex;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  label {
    width: 108px;
    height: 108px;
    position: relative;
    margin-bottom: 0.7em;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    button{
      position: absolute;
      background-color: #000;
      width: 20px;
      height: 20px;
      color: #fff;
      border-radius: 50%;
      top: 6px;
      right: 6px;
    }
  }
}


